@font-face {
	font-family:"Cabin Sketch";
	src:local(※), 
	url("../font/CabinSketch-Bold.ttf") format("truetype"),
	url("../font/CabinSketch-Regular.ttf") format("truetype");
	font-style:normal;
	font-weight:normal;
}

@font-face {
	font-family:"Gaegu";
	src:local(※), 
	url("../font/Gaegu-Bold.ttf") format("truetype"),
	url("../font/Gaegu-Light.ttf") format("truetype"),
	url("../font/Gaegu-Regular.ttf") format("truetype");
	font-style:normal;
	font-weight:normal;
}