@charset "utf-8";
/* Mask Part mozila   */
@-moz-document url-prefix() {
.hs_slider_mask {
mask: url("../images/slider_mask.svg#slider_mask");
margin-left:27px;
}
.hs_latest {
mask: url("../images/thumb_mask.svg#thumb_mask");
}
.hs_bloging {
mask: url("../images/small_mask.svg#small_mask");
}
.hs_page_big_thumb {
mask: url("../images/services_mask.svg#services_mask");
margin-left: 4px !important;
}
.hs_single_thumb {
mask: url("../images/blog_mask.svg#blog_mask");
margin-left: 26px !important;
}
}
/* Mask Part mozila   */

ul {
	margin-left: 0px;
	list-style-image: none;
	list-style-type: none;
}
li {
	list-style-image: none;
	list-style-type: none;
}
.hs_left {
	margin-left: 0px !important;
}
#hs_top_wrap {
	background: url(../images/top_wrap_flow.png);
	height: 48px;
}
.clear {
	clear: both;
}
/****************main-header-menu-start************************/
.hs_menu {
	margin-top: 38px;
}
ul.hs_main_menu_bar li {
	float: left;
	padding: 5px 13px 5px 13px;
	position: relative;
}
ul.hs_main_menu_bar li a {
	font-size: 20px;
	color: #737373;
	text-transform: capitalize;
}
ul.hs_main_menu_bar li a:hover {
	color: #000;
}
ul.hs_main_menu_bar li a.active {
	color: #000;
}
ul.hs_main_menu_bar ul.sub-menu {
	margin-left: 0px;
	position: absolute;
	display: none;
	width: 234px;
	z-index: 1000;
	background: url(../images/drop_menu.png) no-repeat;
	background-size: 100% 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}
ul.hs_main_menu_bar ul.sub-menu li {
	display: block;
	border: none;
	position: relative;
	width: 202px;
	padding: 8px 0px 8px 20px;
}
ul.hs_main_menu_bar ul.sub-menu li:last-child {
	padding: 8px 0px 0px 20px;
}
ul.hs_main_menu_bar ul.sub-menu li a {
	font-size: 20px;
	color: #737373;
}
ul.hs_main_menu_bar ul.sub-menu li a:hover {
	color: #000;
}
ul.hs_main_menu_bar li:hover > ul.sub-menu {
	position: absolute;
	display: block;
	top: 30px;
	left: 0px;
}
/****************main-header-menu-End************************/
.hs_word_latest {
	height: 360px;
}
.hs_main_slider1 {
	margin-top: 50px !important;
	margin-left: -25px !important;
	background: url(../images/sliderie.png) no-repeat !important;
	background-size: 100% 100% !important;
}
.hs_slider_mask1 {
	z-index: -1 !important;
	position: relative !important;
}
.hs_main_slider {
	margin-top: 50px;
	margin-left: -25px !important;
	background: url(../images/slider_bg.png) no-repeat;
}
.hs_slider_mask {
	height: 427px;
	-webkit-mask-image: url("../images/slider_mask.png");
	-o-mask-image: url(../images/slider_mask.png);
	-moz-mask-image: url(../images/slider_mask.png);
	mask-image: url(../images/slider_mask.png);
	z-index: -1;
	position: relative;
}
.hs_creative_info {
	margin-top: 5px;
}
.hs_top_sixty {
	margin-top: 60px;
}
.lined {
	display: table-row;
	width: auto;
	white-space: nowrap;
	position: relative;
}
.lined:after {
	content: '';
	display: table-cell;
	width: 100%;
	position: relative;
	height: 20px;
	background: url(../images/seprator.png) 18px NO-REPEAT;
	top: 6px !important;
}
.hs_heading_img {
	margin-top: 21px;
}
.hs_post {
	background: url(../images/post_bg.png) no-repeat;
	background-size: 100% 100%;
	min-height: 308px !important;
	padding-bottom: 20px;
	margin: 0px 15px 15px 0px !important;
}
.hs_post:nth-child(2n+2) {
	background: url(../images/post_odd.png) no-repeat;
	background-size: 100% 100%;
}
.hs_creative {
	margin-top: 25px;
}
.hs_service_thumb img {
	margin-top: 40px;
}
.hs_services_title {
	font-size: 27px;
	margin-top: 10px;
	margin-bottom: 0;
	color: #000;
	font-weight: 700;
	line-height: 1em;
	margin-left: 0px !important;
	word-wrap: break-word;
	letter-spacing: 0px;
	padding: 4px;
}
.hs_top_fifty {
	margin-top: 50px;
}
.hs_main_latest {
	margin: 30px 13px 0px 0px !important;
	height: 375px;
	margin-left: 0px !important;
}
.hs_port_thumb1 {
	background: url(../images/port_thumb_frameie.png) no-repeat !important;
	background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
}
.hs_latest1 {
	margin-bottom: 2px;
	position: relative !important;
	z-index: -1 !important;
}
.hs_port_thumb {
	background: url(../images/port_thumb_frame.png) no-repeat;
	margin-bottom: 15px;
}
.hs_latest {
	margin-bottom: 2px;
	height: 300px;
	-webkit-mask-image: url("../images/mask-thumb.png");
	-o-mask-image: url(../images/mask-thumb.png);
	-moz-mask-image: url(../images/mask-thumb.png);
	mask-image: url(../images/mask-thumb.png);
}
.hs_latest img {
	width: 100%;
}
.hs_port_thumb:hover {
	-webkit-mask-image: url(../images/frame_hover.png);
	-o-mask-image: url(../images/frame_hover.png);
	-moz-mask-image: url(../images/frame_hover.png);
	mask-image: url(../images/frame_hover.png);
 //background-size: 100% 100%;
}
.hs_more_btn {
	background: url(../images/more.png) no-repeat;
	height: 57px;
	padding-top: 14px;
	float: left;
	width: 100%;
	text-align: center;
	background-size: 96%;
}
.hs_more_btn:hover {
	background: url(../images/more_hover.png) no-repeat;
	background-size: 96%;
	height: 57px;
	color: #000;
}
a.hs_more {
	padding-top: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.hs_see_more {
	margin-top: 20px;
	width: 15% !important;
}
.hs_blog_thumb1 {
	background: url(../images/blog_thumbie.png) no-repeat !important;
	background-size: 100% 100% !important;
}
.hs_bloging1 {
	position: relative !important;
	z-index: -1 !important;
}
.hs_blog_thumb {
	background: url(../images/blog_thumb.png) no-repeat;
	margin-bottom: 15px;
}
.hs_blog_thumb:hover {
	-webkit-mask-image: url(../images/frame_hover.png);
	-o-mask-image: url(../images/frame_hover.png);
	-moz-mask-image: url(../images/frame_hover.png);
	mask-image: url(../images/frame_hover.png);
	background-size: 100% 100%;
}
.hs_bloging {
	-webkit-mask-image: url("../images/mask_thumb_blog.png");
	-o-mask-image: url(../images/mask_thumb_blog.png);
	-moz-mask-image: url(../images/mask_thumb_blog.png);
	mask-image: url(../images/mask_thumb_blog.png);
	height: 147px;
}
.hs_bloging img {
	width: 100%;
}
.hs_post_blog {
	margin-bottom: 35px;
}
.hs_bottom_fourty {
	margin-bottom: 45px;
}
.hs_testimonial {
	background: url(../images/testimonial.png) no-repeat;
	background-size: 100% 100%;
	min-height: 320px !important;
}
.hs_comma_first {
	margin-top: 45px;
	background: url(../images/comma_first.png) no-repeat;
	height: 47px;
}
.hs_comma_second {
	margin-top: 15px;
	background: url(../images/comma_second.png) no-repeat;
	height: 47px;
}
.hs_meta_tag {
	margin-top: 17px;
}
.hs_testimonial_info {
	margin-top: 11px;
}
.hs_testimonial_title {
	font-size: 18px;
	margin-top: 20px;
	font-weight: 700;
}
.hs_left_arrow {
	width: 78px;
	height: 77px;
	float: left;
	margin-left: 3%;
}
.hs_left_arrow img {
	margin-top: 35px;
}
.hs_right_arrow {
	width: 77px;
	height: 76px;
	float: left;
	margin-left: 3%;
}
.hs_right_arrow img {
	margin-top: 35px;
}
.hs_slider_base {
	background: url(../images/bottom_slider_base.png) no-repeat;
	background-size: 100% 100%;
	margin-top: 40px;
}
.hs_client_logo {
	width: 180px;
	height: 150px;
	float: left;
	margin-top: 39px;
	margin-left: 20px;
	line-height: 148px;
	text-align: center;
}
.hs_slide_left_arrow {
	width: 78px;
	height: 77px;
	float: left;
	margin-top: 82px;
	margin-left: -25px;
}
.hs_slide_right_arrow {
	width: 77px;
	height: 76px;
	float: left;
	margin-top: 82px;
}
.hs_slide_right_arrow img {
	margin-left: 24px;
}
.hs_heading_part {
	margin-top: 30px;
}
.hs_heading_part img {
	margin-left: -15px;
}
.hs_breadcrumb_part {
	margin-top: 12px;
}
.hs_inner_heading {
	margin-top: 5px;
}
ul.hs_breadcrumb {
	float: right;
	margin-bottom: 0px;
	margin-top: 10px;
}
ul.hs_breadcrumb li {
	float: left;
}
ul.hs_breadcrumb li a {
	font-size: 16px;
	text-transform: capitalize;
	border-right: solid 1px #737373;
	padding: 0px 5px 0px 5px;
	color: #737373;
}
ul.hs_breadcrumb li:last-child a {
	border-right: solid 0px #737373;
}
/****************footer-start************************/
.hs_footer_tagline {
	font-size: 28px;
	margin-top: 30px;
	text-align: center;
	line-height: 1.2em;
	letter-spacing: -1px;
}
.hs_social_area {
	margin-top: 30px;
}
.hs_social_icon {
	width: 42px;
	height: 43px;
	float: left;
}
.hs_social_area {
	text-align: center;
	margin-bottom: 22px;
}
ul.hs_footer_menu {
	display: inline-block;
}
ul.hs_footer_menu li {
	float: left;
	padding: 0px 19px 0px 19px;
}
ul.hs_footer_menu li:hover {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
ul.hs_footer_menu li a {
	float: left;
	width: 42px;
	height: 43px;
}
ul.hs_footer_menu li a.hs_footer_facebook {
	background: url(../images/facebook.png) no-repeat;
}
ul.hs_footer_menu li a.hs_footer_twitter {
	background: url(../images/twitter.png) no-repeat;
}
ul.hs_footer_menu li a.hs_footer_linkedin {
	background: url(../images/linkedin.png) no-repeat;
}
ul.hs_footer_menu li a.hs_footer_flickr {
	background: url(../images/flickr.png) no-repeat;
}
ul.hs_footer_menu li a.hs_footer_youtube {
	background: url(../images/youtube.png) no-repeat;
}
ul.hs_footer_menu li a.hs_footer_dribbble {
	background: url(../images/dribbble.png) no-repeat;
}
ul.hs_footer_menu li a.hs_footer_delicious {
	background: url(../images/delicious.png) no-repeat;
}
.hs_reserved {
	margin-top: 5px;
}
.hs_reserved a {
	font-weight: bold;
}
#hs_bottom_wrap {
	background: url(../images/top_wrap_flow.png);
	height: 48px;
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	margin-top: 7px;
}
/****************footer-start************************/
/****************Blog-page-start************************/
ul.hs_social_blog li a.facebook {
	background: url(../images/facebook.png) no-repeat;
	width: 42px;
	height: 43px;
	float: left;
	margin-bottom: 8px;
}
ul.hs_social_blog li a.linkedin {
	background: url(../images/linkedin.png) no-repeat;
	width: 42px;
	height: 43px;
	float: left;
	margin-bottom: 8px;
}
ul.hs_social_blog li a.flickr {
	background: url(../images/flickr.png) no-repeat;
	width: 42px;
	height: 43px;
	float: left;
}
.hs_single_thumb img {
	width: 100%
}
.hs_blog_main {
	margin-top: 30px;
}
.hs_blog_main:first-child {
	margin-top: 10px;
}
.hs_blog_slide {
	margin-left: -21px !important;
	background: url(../images/slider_bg.png) no-repeat;
	margin-bottom: 20px;
}
.hs_blog_slide1 {
	background: url(../images/slider_bgie.png) no-repeat !important;
	background-size: 100% 100% !important;
}
.hs_single_thumb1 {
	z-index: -1 !important;
	position: relative !important;
}
.hs_single_thumb {
	margin-bottom: 2px;
	-webkit-mask-image: url("../images/slider_mask.png");
	-o-mask-image: url(../images/slider_mask.png);
	-moz-mask-image: url(../images/slider_mask.png);
	mask-image: url(../images/slider_mask.png);
	height: 427px;
	z-index: -1;
	position: relative;
}
.hs_blog_meta {
	font-weight: 700;
	font-size: 25px;
	color: #000;
	text-align: right;
}
.hs_blog_meta a {
	color: #000;
}
.hs_meta_dig {
	font-weight: 700;
	font-size: 60px;
	color: #000;
	text-align: right;
	margin-bottom: 6px;
	float: right;
}
.hs_meta_dig a {
	color: #000;
}
.hs_blog_shape {
	width: 2%;
	float: left;
	margin-left: 2%;
}
ul.hs_blog_menu {
	margin-top: 17px;
}
ul.hs_blog_menu li {
	float: left;
	padding: 15px 16px 5px 62px;
}
ul.hs_blog_menu li a {
	font-weight: 700;
	font-size: 24px;
	text-transform: capitalize;
	color: #000;
}
ul.hs_blog_menu li:nth-child(1) {
	background: url(../images/admin_icon.png) no-repeat;
	height: 47px;
}
ul.hs_blog_menu li:nth-child(2) {
	background: url(../images/photoshop_icon.png) no-repeat;
	height: 49px;
}
ul.hs_blog_menu li:nth-child(3) {
	background: url(../images/comment_icon.png) no-repeat;
	height: 36px;
}
.hs_blog_last_shape {
	margin-top: 60px;
}
a.hs_blog_left_btn {
	color: #000;
	margin-top: 0px;
	height: 57px;
	float: left;
}
a.hs_blog_left_btn:hover {
	color: #000;
}
.hs_blog_left_btn:before {
	background: url(../images/blog_left_btn.png) no-repeat;
	width: 17px;
	height: 20px;
	content: '';
	float: left;
	margin-left: 34px;
	margin-top: 4px;
	margin-right: 10px;
}
a.hs_blog_right_btn {
	color: #000;
	margin-top: 0px;
	height: 57px;
	float: left;
	margin-left: 40px;
}
a.hs_blog_right_btn:hover {
	color: #000;
}
.hs_blog_right_btn:before {
	background: url(../images/blog_right_btn.png) no-repeat;
	width: 17px;
	height: 20px;
	content: '';
	float: right;
	margin-left: 10px;
	margin-top: 5px;
}
/****************Blog-page-End************************/
/****************Blog-Post-Start************************/
.hs_blog_social_part {
	margin-top: 40px;
}
ul.hs_social_blog {
	margin-top: 10px;
	padding-left: 20px;
}
ul.hs_social_blog li {
	padding-bottom: 12px;
	text-align: right;
}
.hs_blog_comma {
	margin-top: 10px;
}
.hs_reply_btn {
	background: url(../images/more.png) no-repeat;
	height: 57px;
	padding-top: 14px;
	float: left;
	width: 100%;
	text-align: center;
	background-size: 96%;
}
.hs_reply_btn:hover {
	background: url(../images/more_hover.png) no-repeat;
	background-size: 96%;
	height: 57px;
	color: #000;
}
.hs_single_info {
	font-size: 30px;
	font-style: italic;
	margin-top: 15px;
	line-height: 1em;
}
.hs_blog_related {
	margin-top: 45px;
}
.hs_tag_related {
	margin-top: 60px;
}
.hs_post_related {
	margin: 40px 13px 0px 0px !important;
}
ul.hs_tag_menu {
	margin-top: 30px;
}
ul.hs_tag_menu li {
	background: url(../images/more.png) no-repeat;
	padding: 15px 35px 15px 35px;
	float: left;
	background-size: 100% 100%;
	margin-right: 19px;
	margin-bottom: 20px;
	font-size: 20px;
	color: #000;
	text-align: center;
	text-transform: capitalize;
}
ul.hs_tag_menu li:hover {
	background: url(../images/more_hover.png) no-repeat;
	background-size: 100% 100%;
	color: #000;
}
ul.hs_tag_menu li a {
}
.hs_author_related {
	margin-top: 30px;
}
.hs_author_tag {
	margin-top: 0px;
}
.hs_author_tag a {
	font-weight: 700;
	font-size: 16px;
}
.hs_comment_related {
	margin-top: 0px;
	margin-bottom: 40px;
}
.hs_single_title {
	font-weight: 700;
	font-size: 25px;
	color: #000;
}
.hs_comment_post {
	margin-bottom: 10px;
}
.hs_line_comment {
	margin-top: 20px;
}
.hs_comment_form {
	margin-top: 25px;
}
.hs_comment_input {
	background: url(../images/input_name.png) no-repeat;
	background-size: 100%;
	height: 71px !important;
	outline: none;
	border: none !important;
	padding-left: 5% !important;
	font-family: 'Cabin Sketch', Gaegu, cursive;
}
.hs_blog_comment {
	background: url(../images/Comments.png) no-repeat;
	background-size: 100%;
	height: 162px !important;
	outline: none;
	border: none !important;
	padding-left: 7% !important;
	padding-top: 5% !important;
	font-family: 'Cabin Sketch', Gaegu, cursive;
}
.hs_board_textfield_label {
	padding-top: 1% !important;
	padding-left: 6% !important;
}
.hs_board_textfield {
	background: url(../images/input_name_exp.png) no-repeat;
	background-size: 100%;
	height: 40px !important;
	outline: none;
	border: none !important;
	padding-left: 3% !important;
	font-family: 'Cabin Sketch', Gaegu, cursive;
}
.hs_board_textarea {
	background: url(../images/Comments_exp.png) no-repeat;
	background-size: 100%;
	height: 210px !important;
	outline: none;
	border: none !important;
	padding-left: 4% !important;
	padding-top: 3% !important;
	font-family: 'Cabin Sketch', Gaegu, cursive;
}
#hs_send_btn {
	background: url(../images/send.png) no-repeat;
	background-size: 100% 100%;
	outline: none;
	border: none !important;
	font-size: 20px;
	color: #000;
	outline: none;
	border: none !important;
	padding: 18px 25px 18px 25px;
	margin-left: 12%;
	margin-top: 7%;
	font-family: 'Cabin Sketch', Gaegu, cursive;
}
#hs_send_btn:hover {
	background: url(../images/send_hover.png) no-repeat;
	background-size: 100% 100%;
	color: #000;
}
/****************Blog-Post-End************************/
/****************Contact-Page-Start************************/
.hs_make_path {
	margin-top: 15px;
}
.hs_slide_part {
	margin-left: -21px !important;
	margin-bottom: 20px;
	background: url(../images/slider_bg.png) no-repeat;
	background-size: 100% 100%;
	margin-bottom: 15px;
	margin-top: 30px;
}
.hs_make_detail {
	margin-top: 30px;
}
.hs_box img {
	margin-top: 14px;
}
.hs_contact_part {
	margin-top: 51px;
}
.hs_contect_form {
	margin-top: 40px;
}
.hs_creative_contact {
	margin-top: 65px;
}
/****************Contact-Page-End************************/
/****************About-Page-Start************************/
.hs_big_thumb {
	background: url(../images/big_thumb.png) no-repeat;
 margin-bottom: 15px  cursor: pointer;
}
.hs_big_thumb1 {
	background: url(../images/big_thumbie.png) no-repeat !important;
	background-size: 100% 100% !important;
}
.hs_page_big_thumb1 {
	position: relative !important;
	z-index: -1 !important;
	height: 380px !important;
}
.hs_page_big_thumb {
	-webkit-mask-image: url("../images/mask_thumb_services.png");
	-o-mask-image: url(../images/mask-thumb.png);
	-moz-mask-image: url(../images/mask-thumb.png);
	mask-image: url(../images/mask-thumb.png);
	margin-bottom: 2px;
	height: 365px;
}
.hs_page_big_thumb img {
	width: 100%;
}
.hs_big_thumb:hover {
	-webkit-mask-image: url(../images/frame_hover.png);
	-o-mask-image: url(../images/frame_hover.png);
	-moz-mask-image: url(../images/frame_hover.png);
	mask-image: url(../images/frame_hover.png);
	background-size: 100% 100%;
}
h1.hs_page_heading {
	margin-bottom: 15px;
}
.hs_page_part {
	margin-top: 32px;
	margin-bottom: 36px;
}
.hs_team_title {
	font-weight: 700;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 5px;
}
.hs_team_info {
	font-size: 18px;
	line-height: 1.2em;
	margin-top: 6px;
}
ul.hs_team {
	display: inline-block;
	margin-top: 10px;
}
ul.hs_team li {
	float: left;
	padding: 7px;
}
ul.hs_team li:hover {
	margin-top: -5px;
}
ul.hs_team li a img {
	width: 25px;
	height: 26px;
}
/****************About-Page-End************************/
/****************Portfolio-Page-Start************************/
.hs_items {
	margin-top: 23px;
	margin-bottom: 20px;
}
.hs_portfolio_item {
	font-weight: 700;
	font-size: 25px;
}
.hs_portfolio_more {
	margin: 40px 0px 70px;
}
.hs_port_btn {
	background: url(../images/more.png) no-repeat;
	height: 57px;
	padding-top: 14px;
	float: left;
	width: 100%;
	text-align: center;
	background-size: 96%;
}
.hs_port_btn:hover {
	background: url(../images/more_hover.png) no-repeat;
	background-size: 96%;
	height: 57px;
	color: #000;
}
/****************Portfolio-Page-End************************/
/****************Single-Portfolio-Page-Start************************/
.hs_portfolio_slide {
	margin-top: 10px;
}
.hs_single_rounded {
	background: url(../images/single_rounded.png) no-repeat;
	background-size: 100% 100%;
	min-height: 256px !important;
	margin-bottom: 10px;
}
.hs_single_portfolio_title {
	font-size: 20px;
	font-weight: 700;
}
.hs_portfolio_inner:first-child {
	margin-top: 50px;
}
.hs_portfolio_inner {
	margin-top: 5px;
}
.hs_similar_meta {
	margin-top: 30px;
}
.hs_similar_creative {
	margin-top: 44px;
}
/****************Single-Portfolio-Page-End************************/
/****************Services-Page-Start************************/
ul.hs_service_menu li {
	padding: 5px 0px 5px 0px;
}
ul.hs_service_menu li:nth-child(1) a:before, ul.hs_service_menu li:nth-child(2) a:before, ul.hs_service_menu li:nth-child(3) a:before {
	background: url(../images/right_icon.png)no-repeat;
	background-position: left center;
	content: '';
	width: 25px;
	height: 21px;
	float: left;
	margin-right: 10px;
}
ul.hs_service_menu li:nth-child(4) a:before, ul.hs_service_menu li:nth-child(5) a:before {
	background: url(../images/plus.png)no-repeat;
	background-position: left center;
	content: '';
	width: 24px;
	height: 24px;
	float: left;
	margin-right: 10px;
}
ul.hs_service_menu li a {
	font-size: 22px;
	font-weight: 700;
}
.our_core {
	margin-top: 40px;
}
.hs_skill_title {
	font-size: 25px;
	text-transform: capitalize;
	margin-top: 15px;
	font-weight: 700;
}
.hs_skill_wrap {
	margin-top: 35px;
}
.hs_service_thumb {
	height: 150px;
}
/****************Services-Page-End************************/
/****************Preloader Start************************/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 10000;
	height: 100%;
}
#status {
	width: 320px;
	height: 320px;
	position: fixed;
	left: 50%;
	top: 50%;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center;
	margin: -100px 0 0 -163px;
	text-align: center;
}
/****************Preloader End************************/
/****************404 Error Start************************/
.hs_error_part {
	margin-top: 20px;
}
.hs_error_info {
	margin-top: 10px;
	font-weight: 700;
}
.hs_error_title {
	font-size: 145px;
	margin-top: 60px;
}
.hs_oops {
	margin-top: 55px;
	font-size: 40px;
	color: #000;
	font-weight: 700;
	line-height: 1em;
	opacity: 0.3;
}
/****************404 Error End************************/
/****************Search Start************************/
.hs_search_info {
	margin-top: 15px;
}
.hs_search_input {
	background: url(../images/input_name.png) no-repeat;
	background-size: 100%;
	height: 45px !important;
	outline: none;
	border: none !important;
	padding-left: 4% !important;
	font-family: 'Cabin Sketch', Gaegu, cursive;
	margin-top: 20px;
}
/****************Search End************************/
 
/****************Media CSS-Start ************************/
/*min-980-and-max1200-width-media-start*/
@media only screen and (min-width: 980px) and (max-width: 1200px) {
.hs_main_slider {
	margin-left: 0px !important;
}
.bx-wrapper .bx-prev {
	background-size: 80% 80%!important;
}
.hs_slider_client .bx-wrapper .bx-controls-direction .bx-prev {
	margin-left: -18px !important;
}
.bx-wrapper .bx-next {
	background-size: 80% 80%!important;
}
.hs_slider_client .bx-wrapper .bx-controls-direction .bx-next {
	margin-right: -30px;
}
#hs_send_btn {
	margin-top: 0%;
}
}
/*min-980-and-max1200-width-media-end*/
/*min-768-and-max979-width-media-start*/
@media (min-width: 768px) and (max-width: 979px) {
.hs_reply_btn {
	padding-top: 7px;
}
#hs_send_btn {
	margin-left: 0%;
	margin-top: 0%;
}
.hs_comment_input {
	height: 55px !important;
}
.hs_board_textfield_label {
}
.hs_board_textfield {
	height: 55px !important;
}
ul.hs_main_menu_bar li {
	padding: 5px 8px 5px 8px;
}
ul.hs_main_menu_bar li a {
	font-size: 17px;
}
.hs_menu {
	margin-top: 20px;
}
ul.hs_main_menu_bar ul.sub-menu li a {
	font-size: 17px;
}
.hs_main_slider {
	margin-top: 15px;
	margin-left: 0px !important;
	background-size: 100% 100%;
}
.hs_slider_mask {
	height: auto;
	-webkit-mask-size: cover;
	-o-mask-size: cover;
	-moz-mask-size: cover;
	mask-size: cover;
}
.hs_port_thumb {
	background-size: 100% 100%;
}
.container {
	padding: 10px;
}
.carousel-control.right {
	right: -20px;
}
.hs_see_more {
	width: 20% !important;
}
.carousel-control {
	background-size: 90% 90%;
}
.carousel-control.right {
	background-size: 90% 90%;
}
.carousel-control:hover {
	background-size: 90% 90%;
}
.carousel-control.right:hover {
	background-size: 90% 90%;
}
.hs_top_sixty {
	margin-top: 30px;
}
.hs_services_title {
	font-size: 25px;
	letter-spacing: 0px;
}
.hs_post {
	padding-bottom: 30px;
}
h1 {
	font-size: 30px;
}
.hs_top_fifty {
	margin-top: 25px;
}
.hs_latest {
	height: auto;
	-webkit-mask-size: cover;
	-o-mask-size: cover;
	-moz-mask-size: cover;
	mask-size: cover;
}
.hs_latest img {
	width: 99%;
}
.hs_bloging img {
	width: 100%;
}
.hs_blog_thumb {
	background-size: 100% 100%;
}
body {
	font-size: 17px;
}
a.hs_more_home {
	width: 40%;
}
.hs_bottom_fourty {
	margin-bottom: 20px;
}
.hs_bloging {
	height: auto;
	-webkit-mask-size: cover;
	-o-mask-size: cover;
	-moz-mask-size: cover;
	mask-size: cover;
}
h2 {
	font-size: 18px;
}
.hs_slider_testo .bx-wrapper .bx-controls-direction .bx-prev {
	margin-left: 172px !important;
	background-size: 80%;
	margin-top: 10px;
}
.hs_slider_testo .bx-wrapper .bx-controls-direction .bx-prev:hover {
	margin-left: 172px !important;
	background-size: 80%!important;
	margin-top: 10px;
}
.hs_slider_testo .bx-wrapper .bx-controls-direction .bx-next {
	background-size: 80%;
	margin-top: 10px;
}
.hs_slider_testo .bx-wrapper .bx-controls-direction .bx-next:hover {
	background-size: 80%!important;
	margin-top: 10px;
}
.hs_slider_base {
	height: auto;
}
.hs_client_logo {
	width: 20%;
	height: 110px;
	margin-top: 43px;
	margin-left: 22px;
}
.hs_slider_client .bx-wrapper .bx-controls-direction .bx-prev {
	margin-left: -3% !important;
	background-size: 100%;
	width: 8%;
	margin-top: 0px;
}
.hs_slider_client .bx-wrapper .bx-controls-direction .bx-next {
	background-size: 100%;
	margin-right: -3% !important;
	width: 8%;
	margin-top: 0px;
}
.hs_slider_client .bx-wrapper .bx-controls-direction .bx-prev:hover {
	margin-left: -3% !important;
	background-size: 100% !important;
	width: 8%;
}
.hs_slider_client .bx-wrapper .bx-controls-direction .bx-next:hover {
	background-size: 100% !important;
	margin-right: -3% !important;
	width: 8%;
}
.hs_heading {
	background-position: 0 30%;
}
.hs_big_thumb {
	background-size: 100% 100%;
}
.hs_big_thumb:hover {
	background-size: 100% 100%;
}
.hs_page_big_thumb {
	height: auto;
	-webkit-mask-size: cover;
	-o-mask-size: cover;
	-moz-mask-size: cover;
	mask-size: cover;
}
.hs_media_skill {
	width: 30% !important;
}
.hs_breadcrumb_part {
	margin-top: 5px;
}
ul.hs_service_menu li a {
	font-size: 14px;
}
.hs_blog_left_btn:before {
	margin-left: 20px;
}
a.hs_blog_right_btn {
	margin-left: 23px;
}
.hs_blog_slide {
	background-size: 100% 100%;
}
.hs_port_btn {
	padding-top: 8px;
}
.hs_single_thumb {
	height: auto;
	-webkit-mask-size: cover;
	-o-mask-size: cover;
	-moz-mask-size: cover;
	mask-size: cover;
	z-index: 0;
}
.hs_blog_meta {
	font-size: 18px;
	text-align: left;
}
.hs_meta_dig {
	font-size: 45px;
	text-align: left;
	float: left;
}
ul.hs_blog_menu li a {
	font-size: 13px;
}
ul.hs_blog_menu li {
	padding: 15px 16px 5px 55px;
}
.hs_service_thumb {
	height: auto;
}
.hs_search_input {
	height: 36px !important;
}
.hs_comma_first {
	background-size: 100%;
}
.hs_comma_second {
	background-size: 100%;
}
.hs_slide_part {
	background-size: 100% 100%;
}
iframe {
	width: 96%;
}
.hs_contact_details {
	word-break: break-word;
}
.hs_word_latest {
	height: 300px;
}
.hs_main_latest {
	height: auto;
}
/*Firefox CSS Media*/
@-moz-document url-prefix() {
.hs_slider_mask {
margin-left: 18px;
width: 95%;
height: 308px !important;
}
.hs_bloging {
width: 97% !important;
height: 111px !important;
}
.hs_latest {
width: 99% !important;
}
.hs_page_big_thumb {
width: 97% !important;
margin-left: 0px !important;
}
.hs_single_thumb {
margin-left: 26px !important;
width: 94% !important;
height: 329px !important;
}
}
/*Firefox CSS Media */
}
/*min-768-and-max979-width-media-end*/
/*767-width-media-start*/
@media (max-width: 767px) {
.hs_port_thumb:hover {
	-webkit-mask-image: none;
	-o-mask-image: none;
	-moz-mask-image: none;
	mask-image: none;
}
.hs_blog_thumb:hover {
	-webkit-mask-image: none;
	-o-mask-image: none;
	-moz-mask-image: none;
	mask-image: none;
}
.hs_big_thumb:hover {
	-webkit-mask-image: none;
	-o-mask-image: none;
	-moz-mask-image: none;
	mask-image: none;
}
.hs_word_latest {
	height: auto;
}
.hs_contact_details {
	word-break: break-word;
}
ul.hs_social_blog {
	margin-top: 0px;
	padding-left: 0px;
}
iframe {
	width: 96%;
	height: 90%;
}
.hs_blog_slide {
	background-size: 100% 100%;
}
.hs_slider_mask {
	height: auto;
	-webkit-mask-size: cover;
	-o-mask-size: cover;
	-moz-mask-size: cover;
	mask-size: cover;
	z-index: 0;
}
.hs_port_thumb {
	background: url(../images/port_thumb_frame.png) no-repeat;
	background-size: 100% 100%;
}
.carousel-control {
	top: 46%;
	background-size: 60% 60%;
}
.carousel-control:hover {
	background-size: 60% 60%;
}
.carousel-control.right {
	background-size: 60% 60%;
	right: -40px;
}
.carousel-control.right:hover {
	background-size: 60% 60%;
}
.hs_search_input {
	background-size: 100% 100%;
}
.hs_error_media {
	width: 30% !important;
}
.hs_service_thumb {
	height: auto;
}
.hs_portfolio_more {
	float: left;
}
ul.portfolio {
	height: auto !important;
}
.hs_blog_social_part {
	margin-top: 15px;
}
ul.hs_social_blog li {
	float: left;
	padding: 0px 5px 0px 5px;
}
.hs_blog_comma {
	margin-top: 15px;
	float: left !important;
}
.hs_single_info {
	font-size: 21px;
	margin-top: 10px;
	line-height: 1.5em;
	float: left !important;
	margin-bottom: 10px;
}
.hs_reply_btn {
	width: 25%;
	background-size: 100% 100%;
	font-size: 14px;
	height: auto;
	padding: 10px;
}
.hs_reply_btn:hover {
	width: 25%;
	background-size: 100% 100%;
	font-size: 14px;
	height: auto;
	padding: 10px;
}
.hs_comment_post {
	margin-bottom: 35px;
}
#hs_send_btn {
	margin-left: 0%;
	margin-top: 0%;
}
.hs_comment_input {
	height: 55px !important;
	background-size: 50% 100%;
	padding-left: 3% !important;
}
.hs_blog_comment {
	background-size: 50% 100%;
	height: 130px !important;
	padding-left: 3% !important;
	padding-top: 3% !important;
}
.hs_board_textfield_label {
	padding-top: 0% !important;
	padding-left: 2% !important;
}
.hs_board_textfield {
	height: 45px !important;
	background-size: 90% 90%;
	padding-left: 3% !important;
}
.hs_board_textarea {
	background-size: 90% 90%;
	height: 130px !important;
	padding-left: 3% !important;
	padding-top: 3% !important;
}
.logo {
	text-align: center;
}
ul.hs_main_menu_bar li {
	padding: 5px 10px 5px 10px;
}
ul.hs_main_menu_bar li a {
	font-size: 15px;
}
ul.hs_main_menu_bar ul.sub-menu li a {
	font-size: 15px;
}
.hs_main_slider {
	margin-top: 20px;
	margin-left: 0px !important;
	background-size: 100% 100%;
}
.hs_creative_thumb {
	text-align: center;
	margin-bottom: 10px;
}
h1 {
	font-size: 25px;
	letter-spacing: 0px;
}
body {
	font-size: 18px;
}
.hs_heading {
	background-position: 0 20%;
}
.hs_more_btn {
	width: 100%;
	background-size: 100% 100%;
	font-size: 14px;
	height: auto;
	padding: 10px;
}
.hs_more_btn:hover {
	width: 100%;
	background-size: 100% 100%;
	font-size: 14px;
	height: auto;
	padding: 10px;
}
.hs_top_sixty {
	margin-top: 30px;
}
.hs_services_title {
	font-size: 26px;
	letter-spacing: 0px;
	margin-top: 13px;
	padding: 20px;
}
.hs_post {
	min-height: 0px !important;
}
.hs_service_thumb img {
	margin-top: 20px;
}
.hs_top_fifty {
	margin-top: 20px;
}
.hs_main_latest {
	margin: 20px 13px 0px 0px !important;
	height: auto;
}
.hs_bottom_fourty {
	margin-bottom: 25px;
}
.hs_latest {
	height: auto;
	-webkit-mask-size: cover;
	-o-mask-size: cover;
	-moz-mask-size: cover;
	mask-size: cover;
}
.hs_latest img {
	width: 100%;
}
.hs_blog_thumb {
	background-size: 100% 100%;
}
h2 {
	font-size: 19px;
}
.hs_bloging {
	height: auto;
	-webkit-mask-size: cover;
	-o-mask-size: cover;
	-moz-mask-size: cover;
	mask-size: cover;
}
.hs_bloging img {
	width: 100%;
}
.hs_slider_testo .bx-wrapper .bx-controls-direction .bx-prev {
	background-size: 50%;
	margin-top: 4%;
	margin-left: 59% !important;
}
.hs_slider_testo .bx-wrapper .bx-controls-direction .bx-next {
	background-size: 50%;
	margin-top: 4%;
}
.hs_slider_testo .bx-wrapper .bx-controls-direction .bx-prev:hover {
	background-size: 50%!important;
	margin-top: 4%;
}
.hs_slider_testo .bx-wrapper .bx-controls-direction .bx-next:hover {
	background-size: 50%!important;
	margin-top: 4%;
}
.hs_slider_base {
	height: auto;
	margin-top: 10px;
}
.hs_client_logo {
	width: 20%;
	height: 0px;
	margin-top: 4%;
	margin-left: 1%;
	margin-bottom: 25%;
	line-height: 56px;
}
.hs_slider_client .bx-wrapper .bx-controls-direction .bx-prev {
	margin-left: -7% !important;
	margin-top: -4% !important;
	background-size: 100%;
	width: 10%;
}
.hs_slider_client .bx-wrapper .bx-controls-direction .bx-next {
	margin-right: -7% !important;
	margin-top: -4% !important;
	background-size: 100%;
	width: 10%;
}
.hs_slider_client .bx-wrapper .bx-controls-direction .bx-prev:hover {
	margin-left: -7% !important;
	margin-top: -4% !important;
	background-size: 100% !important;
	width: 10%;
}
.hs_slider_client .bx-wrapper .bx-controls-direction .bx-next:hover {
	margin-right: -7% !important;
	margin-top: -4% !important;
	background-size: 100% !important;
	width: 10%;
}
.hs_footer_tagline {
	font-size: 23px;
	letter-spacing: 0px;
}
ul.hs_footer_menu li {
	padding: 0px 6px 10px 6px;
}
.hs_comma_first {
	background-size: 10% 75%;
}
.hs_comma_second {
	background-size: 10% 75%;
}
.hs_menu {
	display: none!important;
}
select.select_nav {
	margin: 0 auto;
	margin-top: 3%;
	text-transform: capitalize;
	font-size: 14px;
}
.hs_slider_client .bx-wrapper .bx-viewport {
	left: 40px !important;
}
ul.hs_breadcrumb {
	float: left;
}
.hs_big_thumb {
	background-size: 100% 100%;
}
.hs_big_thumb:hover {
	background-size: 100% 100%;
}
.hs_page_big_thumb {
	height: auto;
	-webkit-mask-size: cover;
	-o-mask-size: cover;
	-moz-mask-size: cover;
	mask-size: cover;
}
.hs_page_big_thumb img {
	width: 100%;
}
.hs_breadcrumb_part {
	margin-top: 2px;
}
ul.hs_breadcrumb li a {
	font-size: 13px;
}
ul.hs_service_menu li a {
	font-size: 16px;
}
.hs_port_btn {
	background-size: 35%;
	padding-bottom: 83px;
	height: auto;
	width: 90% !important;
}
.hs_port_btn:hover {
	background-size: 35%;
	padding-bottom: 83px;
	height: auto;
	width: 90% !important;
}
.hs_single_thumb {
	height: auto;
	-webkit-mask-size: cover;
	-o-mask-size: cover;
	-moz-mask-size: cover;
	mask-size: cover;
	z-index: 0;
}
.hs_single_thumb img {
	width: 100%;
	height: 100%;
}
.hs_blog_meta {
	font-size: 18px;
	text-align: left;
	margin-bottom: 12px;
}
.hs_meta_dig {
	font-size: 45px;
	text-align: left;
	float: left;
	margin-right: 2%;
}
ul.hs_blog_menu {
	width: 100%;
	float: left;
}
ul.hs_blog_menu li a {
	font-size: 13px;
}
ul.hs_blog_menu li {
	padding: 15px 16px 5px 55px;
}
.hs_blog_shape {
	display: none;
}
.hs_portfolio_inner {
	margin-top: 5px;
	width: 100% !important;
	float: left !important;
	margin-left: 0% !important;
	margin-top: 21px!important;
}
.hs_single_rounded {
	min-height: auto !important;
	background: none;
}
.hs_slide_part {
	background-size: 100% 100%;
}
/*Firefox CSS Media*/
@-moz-document url-prefix() {
.hs_slider_mask {
margin-left: 8px;
height: auto !important;
width: 95%;
top: -18px;
}
.hs_latest {
width: 61% !important;
}
.hs_port_thumb {
background: url('../images/port_thumb_frame.png') no-repeat scroll 0% 0% / 62% 100% transparent;
}
.hs_bloging {
 width: 30% !important;
}
.hs_blog_thumb {
background-size:31% 100% !important;
}
.hs_single_thumb {
margin-left: 17px !important;
width: 93% !important;
top: -20px;
}
}
/*Firefox CSS Media */
}
/*767-width-media-end*/
@media (min-width: 480px) and (max-width: 600px) {
.hs_see_more {
	margin-top: 20px;
	width: 30% !important;
}
.hs_port_btn {
	background-size: 45%;
	padding-bottom: 83px;
	height: auto;
	width: 90% !important;
}
.hs_port_btn:hover {
	background-size: 45%;
	padding-bottom: 83px;
	height: auto;
	width: 90% !important;
}
.hs_slider_testo .bx-wrapper .bx-controls-direction .bx-prev {
	margin-left: 50% !important;
}
.hs_comma_first {
	background-size: 10% 47%;
}
.hs_comma_second {
	background-size: 10% 47%;
}
}


/*480-width-media-start*/
@media (max-width: 480px) {
.hs_see_more {
	margin-top: 20px;
	width: 33% !important;
}
.hs_client_logo {
	width: 20%;
	height: 0px;
	margin-top: 4%;
	margin-left: 1%;
	margin-bottom: 26%;
	line-height: 40px;
}
.carousel-control {
	top: 46%;
	background-size: 50% 50%;
}
.carousel-control:hover {
	top: 46%;
	background-size: 50% 50%;
}
.carousel-control.right {
	background-size: 50% 50%;
	right: -54px;
}
.carousel-control.right:hover {
	right: -54px;
	background-size: 50% 50%;
}
.hs_portfolio_more {
	float: left;
}
ul.portfolio {
	height: auto !important;
}
ul.hs_blog_menu {
	margin-top: 2%;
}
ul.hs_blog_menu li {
	padding: 10px 16px 5px 52px;
}
ul.hs_team li:hover {
	margin-top: 0px;
}
h1 {
	font-size: 22px;
	letter-spacing: 0px;
}
.hs_heading {
	background-position: 0 0%;
}
.hs_services_title {
	font-size: 21px;
	letter-spacing: 0px;
}
ul.hs_footer_menu li {
	padding: 0px 6px 15px 6px;
}
select.select_nav {
	margin: 0 auto;
	margin-top: 3%;
	text-transform: capitalize;
	font-size: 13px;
	width: auto;
}
.hs_slider_client .bx-wrapper .bx-viewport {
	left: 21px !important;
}
.hs_slider_testo .bx-wrapper .bx-controls-direction .bx-prev {
	background-size: 50%;
	margin-top: 4%;
	margin-left: 51% !important;
}
.hs_comma_first {
	background-size: 10% 48%;
}
.hs_comma_second {
	background-size: 10% 48%;
}
ul.hs_footer_menu li:hover {
	margin-top: 0px;
}
.hs_port_btn {
	padding-bottom: 55px;
	height: auto;
	width: 100% !important;
	background-size: 40%;
}
.hs_port_btn:hover {
	padding-bottom: 55px;
	height: auto;
	width: 100% !important;
	background-size: 40%;
}
}
/*480-width-media-end*/
/*320-width-media-start*/
@media (min-width: 320px) and (max-width: 375px) {
.hs_slider_testo .bx-wrapper .bx-controls-direction .bx-prev {
	margin-left: 41% !important;
}
.hs_comma_first {
	background-size: 10% 35%;
}
.hs_comma_second {
	background-size: 10% 35%;
}
.hs_port_btn {
	background-size: 100%;
	padding-bottom: 75px;
	height: auto;
	width: 45% !important;
}
.hs_port_btn:hover {
	background-size: 100%;
	padding-bottom: 75px;
	height: auto;
	width: 45% !important;
}
.hs_comment_input {
	height: 55px !important;
	background-size: 100% 100%;
	padding-left: 5% !important;
}
.hs_blog_comment {
	background-size: 100% 100%;
	height: 130px !important;
	padding-left: 5% !important;
	padding-top: 6% !important;
}
.hs_board_textfield {
	height: 55px !important;
	background-size: 100% 100%;
	padding-left: 5% !important;
}
.hs_board_textarea {
	background-size: 100% 100%;
	height: 130px !important;
	padding-left: 5% !important;
	padding-top: 6% !important;
}
iframe {
	width: 96%;
	height: 50%;
}
}
/*320-width-media-end*/
/*223-width-media-start*/
@media (min-width: 223px) and (max-width: 319px) {
.hs_see_more {
	margin-top: 20px;
	width: 43% !important;
}
.hs_port_btn {
	background-size: 100%;
	padding-bottom: 75px;
	height: auto;
	width: 65% !important;
}
.hs_port_btn:hover {
	background-size: 100%;
	padding-bottom: 75px;
	height: auto;
	width: 65% !important;
}
.hs_comment_input {
	height: 55px !important;
	background-size: 100% 100%;
	padding-left: 5% !important;
}
.hs_blog_comment {
	background-size: 100% 100%;
	height: 130px !important;
	padding-left: 5% !important;
	padding-top: 6% !important;
}
.hs_board_textfield {
	height: 55px !important;
	background-size: 100% 100%;
	padding-left: 5% !important;
}
.hs_board_textarea {
	background-size: 100% 100%;
	height: 130px !important;
	padding-left: 5% !important;
	padding-top: 6% !important;
}
iframe {
	width: 96%;
}
.hs_slider_testo .bx-wrapper .bx-controls-direction .bx-prev {
	margin-left: 28% !important;
}
.hs_comma_first {
	background-size: 10% 25%;
}
.hs_comma_second {
	background-size: 10% 25%;
}
}
/*223-width-media-End*/
/****************Media CSS-End ************************/
